<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maintenance App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
  <body>
    <header>
      <%  if(!currentUser){ %>
      <ul class="topnav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Sign Up</a></li>
        <%  } else { %>
        <li><a href="#">Signed In As <%= currentUser.username %></a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <%  } %>
      </header>

      <div class="diver">
          <h1 class="head">Dan's Auto Shop</h1>
          <p class="sub">Maintenance Tracker App</p>
      </div>
      <br>
